absl-py==1.4.0
Adafruit-BMP==1.5.4
Adafruit-GPIO==1.0.3
Adafruit-PureIO==1.1.11
albumentations==1.3.1
altair==5.4.1
altgraph==0.17.4
annotated-types==0.7.0
anyascii==0.3.2
anyio==3.6.2
APScheduler==3.10.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
array-record==0.2.0
arrow==1.2.3
arviz==0.17.0
astor==0.8.1
astroid==3.2.4
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
Automat==0.8.0
backcall==0.2.0
beautifulsoup4==4.12.2
bidict==0.22.1
biosppy==2.1.0
bitarray==2.9.2
bitstring==4.2.3
bleach==6.0.0
blinker==1.8.2
blosc2==2.5.1
bokeh==3.1.1
boto3==1.35.74
botocore==1.35.74
branca==0.7.1
Brian2==2.6.0
Brotli==1.1.0
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.1.0
chex==0.1.88
click==8.1.3
cmake==3.31.1
coco-eval==0.0.4
cohere==5.14.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.3
comtypes==1.2.0
contextlib2==21.6.0
contourpy==1.0.7
cryptography==40.0.2
cssselect2==0.7.0
custom-inherit==2.4.1
cvzone==1.6.1
cycler==0.11.0
Cython==0.29.34
DateTime==5.1
debugpy==1.6.7
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.18
deprecation==2.1.0
dill==0.3.8
diskcache==5.6.3
distlib==0.3.6
distro==1.9.0
dlib @ file:///C:/Users/Dell/Downloads/dlib-19.24.1-cp311-cp311-win_amd64.whl#sha256=6f1a5ee167975d7952b28e0ce4495f1d9a77644761cf5720fb66d7c6188ae496
dm-tree==0.1.8
dnspython==2.4.2
docker==6.1.3
docopt==0.6.2
docutils==0.20
dominate==2.9.1
easygui==0.98.3
easyocr==1.7.1
EasyProcess==1.1
ecdsa==0.19.0
ecg-plot==0.2.8
entrypoint2==1.1
esptool==4.7.0
et-xmlfile==1.1.0
etils==1.3.0
eventlet==0.34.2
executing==1.2.0
face-recognition==1.3.0
face_recognition_models==0.3.0
fastapi==0.96.0
fastavro==1.10.0
fastjsonschema==2.16.3
fastprogress==1.0.3
filelock==3.12.0
filetype==1.2.0
fire==0.6.0
Flask==2.2.3
Flask-Login==0.6.2
Flask-MySQLdb==1.0.1
Flask-SQLAlchemy==3.0.3
flatbuffers==24.3.7
flax==0.10.2
folium==0.15.1
fonttools==4.38.0
fqdn==1.5.1
fsspec==2024.5.0
gast==0.4.0
gdown==4.7.1
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.10
GitPython==3.1.31
goap==0.3.0
google-api-core==2.11.0
google-api-python-client==2.88.0
google-auth==2.18.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
google-play-scraper==1.2.7
googleapis-common-protos==1.59.0
GPUtil==1.4.0
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.54.0
gTTS==2.3.2
h11==0.14.0
h5netcdf==1.3.0
h5py==3.10.0
httpcore==1.0.1
httplib2==0.22.0
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.27.1
humanfriendly==10.0
humanize==4.11.0
idna==3.7
imageio==2.28.1
imageio-ffmpeg==0.4.9
imagezmq==1.1.1
imbalanced-learn==0.13.0
imgaug==0.4.0
importlib-metadata==6.6.0
importlib-resources==5.12.0
imutils==0.5.4
inference==0.9.8
iniconfig==2.0.0
intelhex==2.3.0
ipykernel==6.23.0
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.1.2
jaraco.classes==3.2.3
jax==0.4.34
jaxlib==0.4.34
jedi==0.18.2
Jinja2==3.1.2
jiter==0.9.0
jmespath==1.0.1
joblib==1.2.0
jsonpatch==1.33
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
jupyterthemes==0.20.0
keras==2.15.0
keyboard==0.13.5
keyring==23.13.1
kiwisolver==1.4.4
labelImg==1.8.6
langchain-core==0.3.29
langchain-ollama==0.2.2
langdetect==1.0.9
langsmith==0.2.10
lapx==0.5.10.post1
lazy_loader==0.2
lesscpy==0.15.1
libclang==16.0.0
live-plotter==2.1.0
livelossplot==0.5.5
llmx==0.0.21a0
lmdb==1.5.1
lxml==4.9.2
mando==0.7.1
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.8.4
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mediapipe==0.10.14
methodtools==0.4.7
mistune==2.0.5
ml-dtypes==0.3.2
more-itertools==9.1.0
MouseInfo==0.1.3
moviepy==1.0.3
mplcursors==0.6
mpmath==1.3.0
msgpack==1.0.7
mss==9.0.1
mysql-connector-python==9.0.0
mysqlclient==2.2.0
namex==0.0.7
narwhals==1.8.1
natsort==8.4.0
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.16.4
nbformat==5.8.0
ndg-httpsclient==0.5.1
ndindex==1.7
neat-python==0.92
nengo==4.0.0
nengo-dl==3.5.0
nest-asyncio==1.5.6
network==0.1
networkx==3.3
nidaqmx==0.8.0
ninja==1.11.1.1
nir==1.0.1
nirtorch==1.0
nltk==3.8.1
notebook==6.5.4
notebook_shim==0.2.3
numexpr==2.9.0
numpy==1.25.2
oauthlib==3.2.2
obspy==1.4.1
ollama==0.4.5
ollama-ocr==0.1.3
onnx==1.16.1
onnxruntime==1.15.1
onnxruntime-gpu==1.20.1
onnxslim==0.1.34
openai==1.66.3
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
openpyxl==3.1.2
opt-einsum==3.3.0
optax==0.2.4
optree==0.10.0
orbax-checkpoint==0.11.0
orca==1.8
orjson==3.10.14
packaging==23.2
paddleocr==2.8.1
paddlepaddle==2.6.2
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.6
pdf2image==1.17.0
pefile==2023.2.7
pickleshare==0.7.5
piexif==1.1.3
pillow==10.4.0
pipreqs==0.5.0
pipreqsnb==0.2.4
pkginfo==1.9.6
platformdirs==3.5.0
playsound==1.2.2
plotly==5.18.0
pluggy==1.3.0
ply==3.11
proglog==0.1.10
progressbar2==4.4.2
prometheus-client==0.16.0
prometheus-fastapi-instrumentator==6.0.0
promise==2.3
prompt-toolkit==3.0.38
protobuf==4.25.6
psutil==5.9.5
psycopg2==2.9.10
PuLP==2.8.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
PyAutoGUI==0.9.54
pybase64==1.3.2
pybboxes==0.1.6
pyclipper==1.3.0.post5
pycocotools==2.0.7
pycparser==2.21
pydantic==2.10.5
pydantic_core==2.27.2
pydecision==4.7.5
pydeck==0.9.1
pydot==1.4.2
pydotplus==2.0.2
pydub==0.25.1
pydyf==0.11.0
pyentrp==0.9.0
pyFirmata==1.1.0
pygame==2.4.0
PyGetWindow==0.0.9
Pygments==2.15.1
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
pylint==3.2.7
pymc3==3.11.2
pymcda==0.4
PyMsgBox==1.0.9
PyMySQL==1.1.1
pynmea2==1.19.0
pyOpenSSL==23.1.1
pyparsing==3.0.9
pypdfium2==4.30.0
pyperclip==1.8.2
pyphen==0.15.0
pypiwin32==223
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQt6==6.5.3
PyQt6-Qt6==6.5.3
PyQt6-sip==13.6.0
PyQtChart==5.15.6
PyQtChart-Qt5==5.15.2
pyqtgraph==0.13.3
pyreadline3==3.4.1
PyRect==0.2.0
pyrsistent==0.19.3
pyscreenshot==3.1
PyScreeze==0.1.29
pyserial==3.5
PySocks==1.7.1
pytesseract==0.3.10
pytest==7.4.4
pytest-asyncio==0.21.1
python-bidi==0.5.1
python-dateutil==2.8.2
python-doctr==0.10.0
python-docx==1.1.2
python-dotenv==1.0.0
python-engineio==3.13.2
python-json-logger==2.0.7
python-magic==0.4.27
python-socketio==4.6.1
python-telegram-bot==20.6
python-utils==3.8.2
pyttsx3==2.90
pytube==15.0.0
pytweening==1.0.7
pytz==2022.7.1
PyWavelets==1.4.1
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.10
PyYAML==6.0
pyzmq==25.0.2
QDarkStyle==3.1
qtconsole==5.4.3
QtPy==2.3.1
qudida==0.0.4
radon==6.0.1
RapidFuzz==3.10.0
readme-renderer==37.3
redis==5.0.1
reedsolo==1.7.0
regex==2023.6.3
reportlab==4.2.5
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.3.5
roboflow==1.1.36
rsa==4.9
s3transfer==0.10.4
safetensors==0.5.2
sahi==0.11.19
Sastrawi==1.0.1
scikit-criteria==0.8.7
scikit-fuzzy==0.4.2
scikit-image==0.20.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
semver==3.0.2
Send2Trash==1.8.2
sentry-sdk==1.24.0
shapely==2.0.1
shortuuid==1.0.11
simple-websocket==1.0.0
simplejson==3.19.3
six==1.16.0
sklearn-compat==0.1.3
smmap==5.0.0
sniffio==1.3.0
snntorch==0.8.1
sounddevice==0.5.0
soupsieve==2.4.1
SpeechRecognition==3.10.0
SQLAlchemy==1.4.54
stack-data==0.6.2
starlette==0.27.0
statsmodels==0.14.1
streamlit==1.41.1
strsimpy==0.2.1
supervision==0.17.1
sympy==1.13.1
tables==3.9.2
tenacity==8.2.3
tensorboard==2.15.2
tensorboard-data-server==0.7.0
tensorboardX==2.6.2.2
tensorflow==2.15.1
tensorflow-datasets==4.9.2
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-intel==2.15.1
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.13.1
tensorflow-model-optimization==0.8.0
tensorflow-object-detection-api==0.1.1
tensorflow_decision_forests==1.8.1
tensorflowjs==4.22.0
tensorrt @ file:///D:/TensorRT-10.6.0.26.Windows.win10.cuda-11.8/TensorRT-10.6.0.26/python/tensorrt-10.6.0-cp311-none-win_amd64.whl#sha256=8e500b69dce758a3a60445d611ccccc43b4341822c0eb0724bdd95f6cd46ed5a
tensorrt_dispatch @ file:///D:/TensorRT-10.6.0.26.Windows.win10.cuda-11.8/TensorRT-10.6.0.26/python/tensorrt_dispatch-10.6.0-cp311-none-win_amd64.whl#sha256=e762e1bc0e07639bd93340fc703a7cb266d30d8f93cfc189b65fbcfd2b89e3a4
tensorrt_lean @ file:///D:/TensorRT-10.6.0.26.Windows.win10.cuda-11.8/TensorRT-10.6.0.26/python/tensorrt_lean-10.6.0-cp311-none-win_amd64.whl#sha256=f5322e5849cd302aef031e5539f618d22f3b6eeabbdadd2d6f089734649f943c
tensorstore==0.1.71
termcolor==2.3.0
terminado==0.17.1
terminaltables==3.1.10
textblob==0.18.0.post0
tf_keras==2.15.1
Theano==1.0.5
Theano-PyMC==1.1.2
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2023.4.12
tiktoken==0.9.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tokenizers==0.21.0
toml==0.10.2
tomlkit==0.13.2
toolz==0.12.1
torch==2.0.1+cu117
torchaudio==2.0.2+cu117
torchvision==0.15.2+cu117
tornado==6.3.1
tqdm==4.65.0
traitlets==5.9.0
transformers==4.47.1
tweepy==4.14.0
twine==4.0.2
typer==0.9.0
types-requests==2.31.0.6
types-urllib3==1.26.25.14
typing_extensions==4.12.2
tzdata==2023.4
tzlocal==5.2
ultralytics==8.3.74
ultralytics-thop==2.0.5
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.14
virtualenv==20.23.0
watchdog==4.0.2
wcwidth==0.2.6
weasyprint==63.0
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
widgetsnbextension==4.0.7
wikipedia==1.4.0
wirerope==1.0.0
wordcloud==1.9.4
wrapt==1.14.1
wsproto==1.2.0
wurlitzer==3.1.1
xarray==2024.1.1
xarray-einstats==0.7.0
xgboost==3.0.0
xlwings==0.33.0
xyzservices==2023.2.0
yarg==0.1.9
yolov5==7.0.14
zipp==3.15.0
zope.interface==6.0
zopfli==0.2.3.post1
